*{
    box-sizing: border-box;
}

body{
    background-color: #F6F0EB;
    font-family:"Poppins", sans-serif ;
    margin: 0;
    padding-inline: 30px;

}
nav a{
    text-decoration-line: none;
    color: #492118;
    font-weight: 700;
    font-size: 20.97px;
    vertical-align: middle;
    line-height: 41.93px;

}
nav{
    display: flex;
    

}
nav a + a{
    margin-left: 30px;
}
header{
    background-color: white;
     padding: 24px;
  
     

}
.header-content{
    max-width: 1200px;
    margin: 0 auto;
      display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
   
   

}
.logo{
    width: 50px;
}
img{
    width: 100%;
}
/* .hero img{ */
    /* width: 100%; */
    /* min-height: 616.10400390625px; */
    /* object-fit: fill; */
    /* display: flex; */
/* } */
.hero{
    margin-top: 100px;
}
.hero p{
    /* display: flex; */
    text-align: center;
    /* justify-content: center; */
    font-size: 24px;
    color: #492118;
    line-height: 29px;
}


/* .img-container img{
    display: flex;
    flex-wrap: wrap;
    max-width: 1040px;
    justify-content: center;
    align-items: center;
    transform: translateX(50px);
} */
 .img-container{
    max-width: 1200px;
    /* making inside pic centre */
    margin: 0 auto; 
 }

 .section .img-container{
    max-width: 1000px;
 }
 .section h2{
    font-size: 48px;
  font-weight: 700;
    font-weight: bold;
    text-align: center;
    color: #492118;
    
 }
 .section{
    margin-top: 120px;

 }

 .go-to-top > a{
    display: block;
    color: #492118;
    font-weight: 700;
    font-size: 32px;
 
    text-align: right;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 80px;
 }

 footer p{
    color:rgba(133, 133, 133, 1) ;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
 }


  .close-icon{
    cursor: pointer;
    position: absolute;
    right: 13px;
    top: 18px;
    color: #492118;
    display: none;
  
}
.hamburger-icon{
   font-size: 24px; 
       position: absolute;
    top: 55px;
    left: 29px;


}
 .hamburger-menu-container{
    
overflow: hidden;
position: relative;
height: 100px;
width: 100px;
display: none;
 }

.hamburger-menu{
height: 100px;
width: 100px;
display: flex;
align-items: end;
/* justify-content: flex-end; */
border-radius: 50%;
position: absolute;
left: 0;
background-color: white;
top: -27px;
left: 31px;
cursor: pointer;
}
.over-flow{
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth; 
}

 @media(max-width: 1200px){
nav a {
    font-size: 16px;

}
nav a + a{
    margin-left: 48px;
}
head{
    padding: 16px 24px;

 }

 }
  @media(max-width: 960px){
nav a {
    font-size: 12px;

}
nav a + a{
    margin-left: 32px;
}
.hero{
    margin-top:48px ;
}
.section{
    margin-top: 42px;
}
.hero p{
    font-size: 10px;
}
.section h2{
    font-size: 14px;
}
 }
 .go-to-top > a{
    font-size: 12px;
    margin-top: 40px;
 }
footer p {
    font-size: 10px;
    margin-top: 24px;
 }
 

  @media(max-width: 768px){

    header{
        background-color:#f6f0ebd9; 
        backdrop-filter: blur(8px)
        ;
        position: sticky;
        top: 0;
        max-height: 70px;
    }
nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    flex-direction: column;
    right: -218px;
    top: 24px;
     padding: 24px;
     transition: all 0.25s ease-in;
     
    

}


nav a + a{
    margin: 0;
    margin-top: 5px;
   
}
 .hamburger-menu-container{
    

display:block;
 }

 

 .menu-open nav{
display: flex;
right: 24px;
}

.menu-open .hamburger-menu-container{
    display: none;
}
.menu-open .close-icon{
    display: block;
}

header{
min-height: 81px;

}
header img{
    position: relative;
    top: -25px;
}
.hamburger-menu{
      position: relative;
    top: -47px;
    left: 30px;

}
  }