
body{
    background-image:url(./resources/Gemini_Generated_Image_t5w7n3t5w7n3t5w7.png);
    max-width: 100%;

}
.container{
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;

    /* remember to delete this code */
    /* display: none; */
}
.h1{
  font-size: 52px;
  font-weight: 500;
}
#postcode-input{
 
    max-width: 50%;
    padding:10px 50px 10px 50px;
    border-radius: 6.66px; 
    align-self: stretch;
    outline: none;

    border: none;
  background-color:rgba(255, 255, 255, 1) ;
  align-self: stretch;
  width: 100%;
  outline: none;
margin-left: 2px;
}

input::placeholder{
  color: #888;
  opacity: 1; 
  font-style: italic;
  margin-left: -10px;
  font-size: 16px;

}
#postcode-form{
    display:flex;
    flex-direction: row;
justify-content: space-evenly;
}
button{
    display: flex;
    justify-content: end;
    margin-right:20px ;
    width: 240px;
    background-color: green;
    color: white;
    outline: none;
    border-radius: 6.66px; 
}



/* results */


.resultsContainer{
    display: none;
}
.colorContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
    position: relative; 
    width: 540px;       
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to right, green,yellow, red);
    border-radius: 20px;
    
}
.green, .yellow, .red {
    width: 180px;
    height: 80px;
    background-color: transparent; 
}

.arrow {
    width: 0; 
    height: 0; 
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 18px solid black;
    
    position: absolute;
    top: -20px;         
    left: 0;
    
}
.logo{
    margin-top: -20px;
    max-width: 48px;
    display: block;
}
.indicatorH1{
    color: green;
    font-size: 36px;
}
.logoTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
}
.carbonText{
    text-align: center;
    font-size: 26px;
    font-weight: 200;
}
.message{
font-size: 18px;
font-weight: 300;
text-align: center;
margin-top: -10px;
}
.recomandation{
font-size: 16px;
font-weight: 300;
text-align: center;
margin-top: -6px;
}
.duration{
    text-align: center;
    margin-top: 36px;
}

.refresh{
    display: flex;
    width: 220px;
    height: 42px;
    background-color: green;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    
}
.refreshDiv{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}