*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: Nunito,sans-serif;
    background-color: rgba(245, 245, 220, 0.377);
}
a{
    text-decoration-line: none;
    color: inherit;
}
.title{
    font-weight:800;
}
.header-content,.header-content-coundry{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto ;

    
}
.header-container, .header-container-country{
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
        padding-inline:20px ;
}
.countries-container{
       max-width: 1200px;
    margin-inline: auto ;
    margin-top: 16px;
    display: flex;
    gap: 58px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.country-card{
    display: inline-block;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding-bottom: 24px;
    transition: transform 0.2s ease-in-out;
}
.country-card img{
    width: 100%;
}
.card-text{
padding-inline:16px ;
}
.card-title{
    font-size: 24px;
    margin-block: 16px;
}
.card-text p{
    margin-block:6px ;
}
main{
    padding: 24px;
}
.country-card:hover{
box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.3);
transform: scale(1.01);

}
.search-filter-container{
    margin-top: 20px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
}
.search-container{
    box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    padding: 0 12px;
    border-radius: 4px;
}
.search-container input{
    border: 0;
    outline: 0;
    padding-block: 10px;
    background-color: rgba(245, 245, 220, 0.157)
}

.filter-by-region{
    width: 150px;
    padding: 8px 16px;
    border: none;
    outline: none;
     box-shadow: 0px 1px 3px 4px rgba(0, 0, 0, 0.3);
     border-radius: 4px;
}
@media(max-width: 768px){
    .search-filter-container{
        flex-direction: column;
      
    }
    .filter-by-region{
          margin-top: 40px;
   
    }
    .title{
        font-size: 12px;
    }
    .countries-container{
        justify-content: center;
    }
}