*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: Nunito,sans-serif;
}
.title{
    font-weight:800;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto ;

    
}
.header-container{
    box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
        padding-inline:20px ;
}