body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

/* working on quizz start now page */
.quiz-time-start-container{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
transform: translateY(20%);
}

.high-score{
    
font-weight: 600;
font-size: 24px;
line-height: 100%;

text-align: center;
margin-top: 100px;
opacity: 0;
}

.index-p{
margin-top: 42px;
font-weight: 500;

font-size: 14px;

line-height: 100%;
text-align: center;
vertical-align: middle;
color: rgba(133, 133, 133, 1);


}
/* add this calss to show return user last time score */
.return-user .high-score{
opacity: 1;
}
@media(max-width:865px){
        .quiz-time-start-container{

    transform: translate(-3%,50%);
}
.quiz-time-start img{
    max-width: 676px;
}
.start-now img{

     max-width: 290px; 
}
.high-score{
  margin-top: 42px;
       font-size: 14px;
}
.index-p{
    font-size: 12px;
}
}

@media(max-width:740px){
    .quiz-time-start-container{

    transform: translate(0%,50%);
}
.quiz-time-start img{
    max-width: 560px;
}
.start-now img{

     max-width: 260px; 
}
.high-score{
  margin-top: 20px;
}
.index-p{
      margin-top: 20px;
}
}

@media(max-width:583px){
    .quiz-time-start-container{

    transform: translate(0%,50%);
}
.quiz-time-start img{
    max-width: 500px;
}
.start-now img{

     max-width: 232px; 
}

}

@media(max-width:431px){
.quiz-time-start img{
    max-width:400px ;
}
.start-now img{

    max-width: 200px;
}
.high-score{
    margin-top:20px;
    font-size: 8px;
}
.index-p{
    font-size: 4;
}
.quiz-time-start-container{

    transform: translate(-3%,50%);
}
}

/* working on quiz.html */

.container{
    max-width:100vw ;
   height: 100vh;
    
background-color:rgba(204, 226, 194, 1) ;
}
.quiz-container{
    /* background-color: red; */
 max-width:1000px ;
   height: 800px;
   display: flex;
   flex-wrap: wrap;
   position: relative;
/* justify-content: center; */
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


   
}
.quiz-icon img{
    max-width: 222px;
    max-height: 92.28px;
     
    
}

.sound-icon{
    position: relative;
 
    margin-left: auto;
    top: 18px;

 
}
.quiz-number{
position: relative;
width: 113.3px;
height: 53px;
background-color:rgb(254, 195, 61);
top: 81px;
right: 111px;



}
.quiz-number {
    font-weight: 600;
  font-size: 35.25px;
  text-align: center;
}
.question-contaier{
 width: 900px;
height: 147px;
border-radius: 13px;
background-color: rgba(245, 245, 245, 0.48);
display: flex;
transform: translate(0%, -152%);
align-items: center;
justify-content: center;


}
.question{
font-weight: 600;
font-size: 24px;

}