body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif
}

/* working on quizz start now page */
.quiz-time-start-container{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
transform: translateY(20%);
}

.high-score{
    
font-weight: 600;
font-size: 24px;
line-height: 100%;

text-align: center;
margin-top: 100px;
opacity: 0;
}

.index-p{
margin-top: 42px;
font-weight: 500;

font-size: 14px;

line-height: 100%;
text-align: center;
vertical-align: middle;
color: rgba(133, 133, 133, 1);


}
/* add this calss to show return user last time score */
.return-user .high-score{
opacity: 1;
}
@media(max-width:865px){
        .quiz-time-start-container{

    transform: translate(-3%,50%);
}
.quiz-time-start img{
    max-width: 676px;
}
.start-now img{

     max-width: 290px; 
}
.high-score{
  margin-top: 42px;
       font-size: 14px;
}
.index-p{
    font-size: 12px;
}
}

@media(max-width:740px){
    .quiz-time-start-container{

    transform: translate(0%,50%);
}
.quiz-time-start img{
    max-width: 560px;
}
.start-now img{

     max-width: 260px; 
}
.high-score{
  margin-top: 20px;
}
.index-p{
      margin-top: 20px;
}
}

@media(max-width:583px){
    .quiz-time-start-container{

    transform: translate(0%,50%);
}
.quiz-time-start img{
    max-width: 500px;
}
.start-now img{

     max-width: 232px; 
}

}

@media(max-width:431px){
.quiz-time-start img{
    max-width:400px ;
}
.start-now img{

    max-width: 200px;
}
.high-score{
    margin-top:20px;
    font-size: 8px;
}
.index-p{
    font-size: 4;
}
.quiz-time-start-container{

    transform: translate(-3%,50%);
}
}

/* working on quiz.html */

.container{
display: flex;
width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
    
background-color:rgba(204, 226, 194, 1) ;
}
.quiz-container{
    /* background-color: red; */
 width:1000px ;
   height: 800px;

     
}

  .quiz-header{
    display: flex;
    justify-content: space-between;
  } 

.quiz-header img{
    max-width: 222px;
    max-height: 92.28px;
    
    
}

.sound-icon img{
    display: flex;
 margin-left: auto;
    

 
}
.quiz-number{
display: flex;
width: 132px;
height: 53px;
background-color:rgb(254, 195, 61);
/* top: 81px;
right: 111px; */
  font-weight: 600;
  font-size: 35.25px;
  margin-top: 20px;
  border-radius: 6.66px; 
  justify-content: center;


}

.question-contaier{
   margin: 0 auto;
 width: 1000px;
height: 151px;
border-radius: 13px;
background-color: rgba(245, 245, 245, 0.48);
/* font-size: 24px;
font-weight: 600; */
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;

}
.question{
font-weight: 600;
font-size: 24px;
}
.timer-container{
   max-width: 127px;
    max-height: 62px;
background-color: rgba(2, 164, 9, 0.43); 
border-radius: 6.66px; 
margin-left: auto;
margin-top: 20px;
}
.timer{
display: flex;
align-items: center;
justify-content: center;
font-weight: 600;
font-size: 35.25px;


}

.option-container{
    width: 1000px;
height: 475px;
border-radius: 13px;
background-color:rgba(245, 245, 245, 0.48) ;
margin-top: 20px;
padding-top: 20px

}
.option{
 width: 986px;
height: 75px;
border-radius: 8px;
border-width: 3px;
background-color: rgba(217, 217, 217, 1);
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 34px;

cursor: pointer;
}
.side-label-container{
    margin-left: auto;
    display: flex;
   gap: 30px;
}
.option-text{

font-weight: 600;

font-size: 24px;
margin-left: 20px;


}
.correct-wrong-img{
    width: 29px;
    height: 29px;
    margin-right: 20px;
    display: none;
}
.side-label{
font-weight: 400;
font-size: 20px;
display: none;

}
/* important for check mark or cross mark border */
.correct .option{
    border:3px solid rgba(53, 189, 58, 1) ;
}
.wrong .option{
    border:3px solid rgba(255, 122, 122, 1) ;
}
.next-p{
    display: flex;
margin-left: auto;
width: 75px;
height: 36px;
font-size: 24px;
color: rgba(1, 171, 8, 1);
margin-top: 55px;
cursor: pointer;
}

.yellow{
    background-color:rgba(212, 214, 159, 0.55);
}
.red{
    background-color:rgba(219, 173, 173, 1) ;
}